@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Regular.ttf"  );

}


body {
  background-color: #005aff;
  text-align: center;
  font-family: "Clear Sans";

}
.board {
  background-color: green ;
  width: 480px;
  height: 500px;
  margin: 0 auto;
}
.cell{
  background:rgba(238, 238, 218, 0.35);
  width: 100px;
  height: 100px;
  float: left;
  margin: 7px;
  border-radius: 3px;

}
