<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>

<h1>Who we are</h1>
<h2>We are a company dedicated to producing and delivery of manufactering machinery. YKG automation makes machines that fill up liquid, semi liquid, granule and powder for industries such as oil, food and beverage industry, body care industry petro-chemical industry, Feed & Fertilzer industry. All machinery are build and assembled in Malaysia to be delivered worldwide.</h2>

<div class="image"><%= image_tag "Oil.jpg", width: '500' %></div>


</body>
</html>