

<h4> Here are some of the equipment our company produces for our clients</h4>

<div class="image"><%= image_tag "machine4.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine3.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine2.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine1.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine5.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine6.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine7.jpg", width: '300' %></div>

<div class="image"><%= image_tag "machine8.jpg", width: '300' %></div>

  <video>
  <object data="movie.mp4" width="320" height="240">
    <embed width="320" height="240" src="shampoo_machine_video.mp4">
  </object>
  </video>

